<h2>Submitted Article</h2>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<p>
<%= link_to "Edit this article", edit_article_path(@article) %>
</p>

<%= link_to "<< Back",articles_path %>