<!DOCTYPE html>
<html>
<head>
	<title>About - page</title>
</head>
<body>

	
<%= link_to image_tag('2.png'), 'http://www.google.com',target: :_blank %>	

<%= link_to 'Home',root_path %>


</body>
</html>